<div class="bg-body-tertiary py-5">
    <div class="container">
        <h4>Get the FreshCart App </h4>
        <p>we will send you a link ,open it on your phone to dawenloda the app.</p>

        <div class="d-flex">
            <input class="w-75 form-control mx-auto" placeholder="Email.." type="text">
            <button class="btn bg-main text-white ">Send App Link</button>
        </div>

        <div class="brd my-3">

            <div class="d-flex justify-content-between">
                <div class="d-flex w-75 align-items-center">
                    <span>payment parteners</span>
                    <img src="../../assets/images/Amazon-Pay-logo.svg" class="img-w10" alt="">
                    <img src="../../assets/images/Amazon-Pay-logo.svg" class="img-w10" alt="">
                    <img src="../../assets/images/Amazon-Pay-logo.svg" class="img-w10" alt="">
    
                </div>
                <div class="w-25">
                    <img src="../../assets/images/PayPal-Logo.png" class="img-w10" alt="">
                    <img src="../../assets/images/PayPal-Logo.png" class="img-w10" alt="">
                </div>
    
            </div>
        </div>

    </div>

</div>